  .service-list__icon-clock::before {
    background-image: url(../images/clock.png);
  }
  
  .service-list__icon-line_graph::before {
    background-image: url(../images/LINE_GRAPH.png);
  }
   
  .service-list__icon-computer::before {
    background-image: url(../images/computer.png);
  }
  
  .service-list__icon-book::before {
    background-image: url(../images/BOOK.png);
  }
  
  .service-list__icon-home::before {
    background-image: url(../images/HOME.png);
  }
  
  .service-list__icon-image::before {
    background-image: url(../images/IMAGE.png);
  }