* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

h1::first-letter {
  color: #1abc9c;
  font-family: "Roboto Black", sans-serif;
  font-weight: bold;
}

h1 {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #515151;
  font-size: 22px;
  padding-top: 38px;
  padding-bottom: 32px;
}

.navigation {
  list-style: none;
  float: right;
  margin: 0;
}

.navigation li {
  float: left;
  margin-left: 30px;
  padding-top: 43px;
  padding-bottom: 38px;
}

.navigation a {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.navigation a:hover {
  color: #1abc9c;
}
.content {
  background-image: url(../assets/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.content-page {
  width: 1170px;
  height: 600px;
  margin: auto;
  position: relative;
}
.slider {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
  top: 226px;
  position: absolute;
  z-index: 4;
}
.slider:hover {
  background-color: rgba(78, 198, 171, 0.7);
}
.slider:focus {
  background-color: #1abc9c;
}
.left {
  background-image: url(../assets/img/prev.jpg);
  left: 0;
}
.right {
  background-image: url(../assets/img/next.jpg);
  right: 0;
}
.tours {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  z-index: 3;
  list-style-type: none;
  bottom: 300px;
  left: 280px;
}
.headline {
  font-size: 48px;
  font-weight: 900;
}
.item {
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
}
.pictures li {
  display: inline-block;
  width: 255px;
  height: 322px;
  list-style-type: none;
  margin-right: 50px;
  margin-bottom: 100px;
  position: relative;
}

.pictures li:nth-child(4n) {
  margin-right: 0;
}

.pictures li {
  float: left;
}

.name {
  display: inline-block;
  width: 200px;
  height: 40px;
  background-color: #323232;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: black;
  color: white;
  text-decoration: none;
  line-height: 40px;
}

.price {
  display: inline-block;
  background-color: #8c8c8c;
  width: 55px;
  height: 40px;
  text-align: center;
  float: right;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: black;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 40px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pictures li img {
  display: inline-block;
  height: 282px;
  width: 255px;
  margin-bottom: -4px;
}

.pictures li:nth-child(-n + 4) {
  margin-top: 92px;
}

.text {
  display: inline-block;
  text-align: center;
  width: 1170px;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  font-weight: bold;
  color: #515151;
  font-size: 34px;
  margin-bottom: 32px;
}

.text::after {
  display: block;
  content: "";
  background-color: #1abc9c;
  width: 164px;
  height: 6px;
  margin: 20px auto 0;
}

h2 {
  margin: 0 auto;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.pictures li:hover .name {
  background-color: #1abc9c;
}
.pictures li:hover .price {
  background-color: #7fd9c7;
}
.pic-nav {
  display: inline-block;
  width: 235px;
  height: 261px;
  background-color: none;
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}
.pic-nav-1 {
  display: inline-block;
  width: 166px;
  height: 108px;
  background-color: none;
  position: absolute;
  left: 35px;
  top: 80px;
  right: 34px;
  bottom: 74px;
  z-index: 2;
  display: none;
}
.small-size {
  width: 50px;
  height: 50px;
  margin-right: 4px;
  background-color: transparent;
  border: none;
  border: 1px solid white;
}
.small-size:nth-child(3) {
  margin-right: 0;
}

.big-size {
  width: 166px;
  height: 50px;
  margin-top: 7px;
  background-color: #323232;
  border: none;
  border: 1px solid white;
}
.heart {
  background-image: url(../assets/img/heart.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}
.share {
  background-image: url(../assets/img/share.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}
.clock {
  background-image: url(../assets/img/clock.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}
.basket {
  background-image: url(../assets/img/basket.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 12px;
  background-color: none;
  text-align: right;
  padding-right: 17px;
  font-family: "Open Sans";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.94);
}
.pictures li:hover .pic-nav {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
}
.pictures li:hover .pic-nav-1 {
  display: inline-block;
}
.small-size:hover {
  background-color: #1abc9c;
}
.big-size:hover {
  background-color: #1abc9c;
}
.footer {
  background-color: #323232;
  padding-top: 44px;
  padding-bottom: 44px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  color: #1abc9c;
}
